<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/Webp.net-compress-image (3).jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Vishal Patel. No data of the user is collected here</p>
        <img class="portrate" src="./img/Webp.net-compress-image (3).jpg">

    </div>

    {{>footer}}
</body>
</html>